html {
  font-family: Helvetica;
  /*display: inline-block;*/
  margin: 0px auto;
}

.header{
	background: linear-gradient(to right, #9af797, #008CBA);
    border: 3px solid #000000; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
	width: auto;
}
body{
	margin: 3px;
	background: #d5e3d3 ;
}
.footer{
	position:fixed;
    bottom: 0;
    left: 3px;
	right: 3px;
	padding: 10px;
	height: 20px;
	background: linear-gradient(to right, #7fd17d, #004d66); /* Цвет фона */
    border: 3px solid #000000; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */

}

h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
.button {
  /*display: inline-block;*/
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
.button2 {
  background-color: #f44336;
}


.SendParamButton{
	width: 100%;
	margin-top: 5px;
	background-color: #008CBA;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 16px;
	text-decoration: none;
	font-size: 30px;
	cursor: pointer;
}
	.SendParamButton:hover{
		background-color: #00b4ba;
		transition: background-color 0.4s;
	}
	.SendParamButton:active {
		transform: scale(98%,98%);
	}
#canvas{
	border: 1px solid black;
}
